<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
   version="3.1"> 
   
 <servlet>
    <servlet-name>questionnaire</servlet-name>
    <servlet-class>Controller.QuestionServlet</servlet-class>
 </servlet>

 <servlet-mapping>
    <servlet-name>questionnaire</servlet-name>
    <url-pattern>/questionnaire</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>expert</servlet-name>
    <servlet-class>Controller.ExpertServlet</servlet-class>
 </servlet>

 <servlet-mapping>
    <servlet-name>expert</servlet-name>
    <url-pattern>/expert</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>recommendation</servlet-name>
    <servlet-class>Controller.RecommendationServlet</servlet-class>
 </servlet>

 <servlet-mapping>
    <servlet-name>recommendation</servlet-name>
    <url-pattern>/recommendation</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>add</servlet-name>
    <servlet-class>Controller.AddDishServlet</servlet-class>
 </servlet>

 <servlet-mapping>
    <servlet-name>add</servlet-name>
    <url-pattern>/add</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>mainPage</servlet-name>
    <servlet-class>Controller.MainPageServlet</servlet-class>
 </servlet>

 <servlet-mapping>
    <servlet-name>mainPage</servlet-name>
    <url-pattern>/mainPage</url-pattern>
</servlet-mapping>

</web-app>
